@import url(../css/normalize.css);
/* line 4, ../scss/main.scss */
body:before {
  background: #d42a21;
  height: 40px;
  width: 100px;
}

/* line 11, ../scss/main.scss */
#site {
  margin: 0 auto;
  width: 960px;
}

/* line 16, ../scss/main.scss */
header {
  background: lightgrey;
  height: 50px;
  width: 100%;
}

/* line 22, ../scss/main.scss */
h1 {
  margin: 0;
  padding-top: 5px;
}

/* line 27, ../scss/main.scss */
h2 {
  padding-top: 20px;
}

/* line 31, ../scss/main.scss */
#logo, #menu {
  margin: 0 5%;
}

/* line 35, ../scss/main.scss */
#logo {
  float: left;
}

/* line 39, ../scss/main.scss */
#menu {
  float: right;
}

/* line 43, ../scss/main.scss */
.widget {
  margin: 100px auto 0 auto;
  max-width: 700px;
}
/* line 47, ../scss/main.scss */
.widget form {
  margin: 0 auto;
  padding-left: 40px;
}
/* line 52, ../scss/main.scss */
.widget li {
  border: 1px;
  border-radius: 10%;
}
/* line 57, ../scss/main.scss */
.widget a:after {
  content: attr(datetime)attr(data-amount);
  float: right;
  font-size: .8em;
  padding: 0 5px;
}
