@import url(../css/normalize.css);

// TEMP CSS RIBBON CODE
body:before {
  background: #d42a21;
  height: 40px;
  width: 100px;
}


#site {
  margin: 0 auto;
  width:960px;
}

header {
  background: lightgrey;
  height: 50px;
  width: 100%;
}

h1 {
  margin: 0;
  padding-top: 5px;
}

h2 {
  padding-top: 20px;
}

#logo, #menu {
  margin: 0 5%;
}

#logo {
  float: left;
}

#menu {
  float: right;
}

.widget {
  margin: 100px auto 0 auto;
  max-width: 700px;

  form {
    margin: 0 auto;
    padding-left: 40px;
  }

  li {
    border: 1px;
    border-radius: 10%;
  }

  a:after {
    content: attr(datetime) + attr(data-amount);
    float: right;
    font-size: .8em;
    padding: 0 5px;
  }
}