a {
	color: inherit;
	text-decoration: none;
}

body {
	font: times, serif;
	margin: 0px;
	text-align: center;
}

footer {
	background: #230a02;
	color: #cfba9d;
	font: .8em serif;
	height: 110px;
	line-height: .25em;
	padding: 20px;
	vertical-align: bottom;
}

h2 {
	font: sans-serif;
}

header {
	background: url("./img/beans.jpg") no-repeat;
	background-size: 100%;
	margin:0px;
}

nav li {
	color: #cfba9d;
	display: inline-block;
	font: 1em serif;
	padding: 5px 10px 8px 10px;
}

nav {
	background: rgba(35, 10, 2, .8);
	bottom: 15px;
	height: 30px;
	position: relative;
}

nav ul {
	margin: 0px;
}

p {
	font: serif;
}

section {
	display: inline-block;
	font: serif;
	padding: 1em 5%;
	width: 30%;
}

section p {
	font: serif;
}