/*
 * _layout.scss
 * partial containing layout styles for isaacgirard.com
 * July 2013
 * isaac@isaacgirard.com
*/

header {
	// background: url(../../images/backgrounds/morning_sky_bg_1080.jpg);
	background: gray;
	height: 380px;
	margin-bottom: 300px;
	width: 100%;

	h1, h2 {
		margin: 0;
		text-align: center;
	}

	h1 {
		padding-top: .5em;
	}
}

.social_links {
	background: 
	list-style-type: none;
	margin: 0;
	padding: 3em 0 1em 0;
	text-align: center;

	li {
		display: inline;
	}
}

.headshot {
	background: black;
	border: 1em solid white;
	border-radius: 100%;
	height: 260px;
	margin: 0 auto;
	position: relative;
	top: 2em;
	width: 260px;
}

section {
	margin: 0 auto;
	width: 960px;
}

article {
	float: left;
	padding: 0 5%;
	margin: 0 auto;
	width: 320px;
	// width: 30%;

	&:nth-child(odd) {
	}
}