/*
 * _mobile.scss
 * partial containing mobile breakpoints and styles for isaacgirard.com
 * July 2013
 * isaac@isaacgirard.com
*/

@media screen and (max-width: 550px) {
    /* phones */


    header {
    	height: 50em;

    	h1, h2 {
    		margin: 0 auto;
    		width: 350px;
    	}
    }

	article {
		float: none;
		margin: 0 auto;
	}
}