/*
 * _mobile.scss
 * partial containing mobile breakpoints and styles for isaacgirard.com
 * July 2013
 * isaac@isaacgirard.com
*/

@media mobile, screen and (max-width: 550px) {
    /* phones */


    header {
    	height: 50em;

    	h1 {
            line-height: .9em;
    		margin: 0 auto;
    		width: 350px;
    	}

        h2 {
            margin: 20px auto 0 auto;
            width: 200px;
        }
    }

	article {
		float: none;
		margin: 0 auto;
        width: 90%;
	}
}

@media mobile, screen and (max-width: 960px) {
    section {
        width: 90%;
    }
}