/*
 * _type.scss
 * partial containing type styles for isaacgirard.com
 * July 2013
 * isaac@isaacgirard.com
*/

html {
    font-size: 16px;
    font-style: Arial, sans-serif;
}

body {
    font-size: 62.5%; /* 1em = 10px */
}

h1 {
	color: white;
	font-size: 5em;
}
