//// styling for blog demo site for SIB lab project
//// isaac@isaacgirard.com - 2013.06.28

//// import web-font css
@import '../../type/_fonts.scss';


//// media queries
//@media (max-width: 320px)


//// set baseline font
html {
    font-size: 16px;
    font-style: Arial, sans-serif;
}
body {
    font-size: 62.5%; /* 1em = 10px */
}


//// text styling
#top-nav, #sidebar, footer {
    font: 100% bold Arial, sans-serif;
}

.date {
    font: bold .8em Arial, sans-serif;
}

h1 {
    font: 2em 'LeagueGothicRegular', Arial, sans-serif;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}


//// element positioning
#logo {
    float: left;
}